/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CLEARFIX */
/* .clearfix::after {
  display: table;
  content: '';
  clear: both;
} */

main {
  height: 100vh;
  width: 100%;
  /* position: relative; */
  background: linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dadbd3 15vh,
  #dadbd3 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90vh;
  width: 80%;
  /* margin: auto; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(-0%, -50%); */
  display: flex;
}



.col-right {
  height: 100%;
  width: 65%;
  min-width: 520px;
  display: flex;
  flex-direction: column;
}

.header-top-right {
  height: 70px;;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-right-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-right-user img {
  width: 50px;
  border-radius: 50%;
}

.header-top-right-buttons i {
  font-size: 25px;
  color: #b1b1b1;
}

.messages-area {
  height: calc(100% - 140px);
  background-image: url('../img/mine.jpg');
}

.input-bar-right {
  height: 70px;;
  width: 100%;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-bar-right input {
  width: 80%;
}




.col-left {
  height: 100%;
  width: 35%;
  min-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.top-left-el-wrapper {
  min-height: 200px;
}

.header-top-left {
  height: 70px;
  width: : 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-left-user img {
  width: 50px;
  border-radius: 50%;
}

.notifications-bar {
  height: 80px;
  width: : 100%;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.input-bar-left {
  height: 50px;
  width: : 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
