/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HELPER CLASSES */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.alg-center {
  align-items: center;
}

.jfy-center {
  justify-content: center;
}

.jfy-between {
  justify-content: space-between;
}

.jfy-around {
  justify-content: space-around;
}

.black {
  color: black;
}

.dk-grey {
  color: #4f7485;
}

.font-15 {
  font-size: 15px;
}

.font-13 {
  font-size: 13px;
}

/* ------------------ */

main {
  height: 100vh;
  width: 100%;
  /* position: relative; */
  background: linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dadbd3 15vh,
  #dadbd3 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 95vh;
  width: 80%;
  /* margin: auto; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(-0%, -50%); */
  display: flex;
}


/* COL RIGHT */

.col-right {
  height: 100%;
  width: 65%;
  min-width: 520px;
}

.header-top-right {
  height: 70px;;
  width: 100%;
  padding: 0px 20px;
  border-left: 1px solid #d6d6d6;
  background-color: #eaeaea;
}

.header-top-right-user {
  color: grey;
}

.header-top-right-user img,
.header-top-left-user img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-top-right-buttons i,
.header-top-left-buttons i {
  font-size: 22px;
  color: #b1b1b1;
  margin-left: 10px;
}

.messages-area {
  height: calc(100% - 140px);
  background-image: url('../img/mine.jpg');
}

.input-bar-right {
  height: 70px;;
  width: 100%;
  background-color: #f3eeea;
}

.input-bar-right input {
  width: 85%;
  border-style: none;
  height: 50%;
  border-radius: 5px;
}

.input-bar-right i {
  font-size: 20px;
  color: grey;
}


/* COL LEFT */

.col-left {
  height: 100%;
  width: 35%;
  min-width: 300px;
  background-color: white;
}

.top-left-el-wrapper {
  min-height: 190px;
}

.header-top-left {
  height: 70px;
  width: : 100%;
  background-color: #eaeaea;
  padding: 0px 10px;
}

.notifications-bar {
  height: 80px;
  width: : 100%;
  padding: 10px 0 10px 15px;
  background-color: #8edafc;
}

.notification {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
  margin-right: 10px;
}

.input-bar-left {
  height: 40px;
  width: : 100%;
  background-color: #f2f4f4 ;
}

.input-bar-left input {
  height: 70%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.user-list-wrapper {
  height: calc(100% - 190px);
  width: 100%;
  overflow-y: auto;
}

#user_list li {
  padding: 10px 0px 10px 20px;
  border-top: 1px solid #f2f4f4;
  list-style: none;
}

#user_list img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


/* HOVERS */

.header-top-right-buttons i:hover {
  color: grey;
}

.header-top-left-buttons i:hover {
  color: grey;
}

.input-bar-right i:hover {
  color: black;
}
